.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 40px;
}
.imgContent{
    margin-top: 8%;
    
}
.image{
    width: 600px;
    height: 600px;
    
}
.textContent{
    width: 900px;
    padding: 25px;
    font-style: italic;
    background-color: #fff;
    text-align: center;
    /* color: #2ab3eb; */
    box-shadow: 10px 6px 15px 6px rgba(0,0,0,0.2) ;
}
.heading{
    color: #36294c;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}
.text{
    color: #f34f6a;
    font-size: 20px;
    font-style: italic;
}
.paragraph{
    color: #2ab3eb;
    font-size: 16px;
}
@media screen and (max-width: 650px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .image{
        width: 400px;
        height: 400px;
    }
    .textContent{
        width: auto;
    }
}